*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
}
body{
    height: 90vh;
    background: rgb(241, 243, 245);
    text-align: center;
}
.container{
    margin:4em auto 1em;
    max-width: 300px;
}
.box{
    background: rgb(255, 255, 255);
    padding:2em 1em;
    margin-bottom:2em;
    border-radius: 8px;
    box-shadow: 0px 2px 4px  rgb(191, 197, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    height: 14em;
}
.author{
    height: 3em;
}
.btn{
    background:rgb(151, 220, 223);
    padding: 1em 2em;
    display: inline-block;
    border-radius: 5px;
    margin-top: 4em;
}
.btn:hover{
    background:rgb(126, 211, 218);
    box-shadow: 1px 1px 1px rgb(84, 99, 100) inset, -1px -1px 1px rgb(84, 99, 100) inset
}
footer{
    margin-top: 4em;
}